.DS_Store
.DS_store
.DS_Store
api_keys.txt

/makeTemplatePDF/scripts/.DS_Store
/makeTemplatePDF/out/*
/makeTemplate/scripts/.DS_store
/makeTemplate/out/mock_data.json
/templates
/getJSON/JSONout
/output_pdfs
/makeTemplate/out
/getJSON/__pycache__
/getJSON/outJSON/localout/
/getJSON/outJSON/OllamaOut/
/getJSON/outJSON/OllamaVisionOut/
/getJSON/outJSON/OpenAIOut/
/getJSON/outJSON/OpenAIVisionOut/
/getJSON/outJSON/OpenRouter/
/getJSON/outJSON/OpenRouterVisionOut/
/getJSON/outJSON/*

test.ipynb
/makeTemplate/out/
/getJSON/visResults.ipynb

/getJSON/outJSON/OllamaOut/*
/getJSON/outJSON/OllamaVisionOut/*
/getJSON/outJSON/OpenAIOut/*
/getJSON/outJSON/OPenAIVisionOut/*
/getJSON/outJSON/OpenRouter/*
/getJSON/outJSON/OpenRouterVisionOut/*
/getJSON/outJSON/OllamaOut/*
/getJSON/outJSON/OllamaVisionOut/*
/getJSON/visualization_outputs

/visualization_outputs/*

run_all_llms.sh
generate_reports.sh

/getJSON/run_models/__pycache__/*
/graphs/visResults.ipynb
getJSON/run_models/hpc_connect.ipynb
/graphs/graphs.py  
/graphs/genGraphs.py
fine_tunning/__pycache__/
